CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="max_app_4MB.csv"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_40M=y
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_SPIRAM_USE_MALLOC=y
# Trade Wi-Fi throughput for instruction RAM on the original ESP32.
CONFIG_ESP_WIFI_IRAM_OPT=n
